

header{
    background: url("../images/nathan-anderson-316188-unsplash.jpg") no-repeat center center;
    background-size: cover;
    height: 70vh;
}


.logoHeader{
    width: 15vw;
}

.redesSocial{
    list-style-type: none;
}

.redesSocial li{
    float: left;
    margin-right: 0.5em;
}


.slogan{
    text-align: left;
    color: white;
    font-size:3em;
}

.slogan button {
    margin-left: 3em;
}

html
{
    height: 100%;

}
@media (max-width: 500px)
{
    .som
    {
        background-image: none;
        background-color: gray;
    }
}

@media (min-width: 550px)
{
    .som {
        background: url("../images/somos.jpg") no-repeat center center;
        background-size: cover;
        min-height: 70vh;
        padding-top: 5vh;

    }
}



.Qsomos{
    background: white;
    padding: 2vh;
    border: 3px solid #0066ff;
    border-radius: 1em;
}

.Qsomos h2{

    text-decoration: underline;
    text-decoration-color: #ffff00;
}

.buttonQsomos{
    text-align: center;
}


.col-centered
{
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.viaje
{
   /* margin: 26px;*/
    border-radius: 4px;
    padding: 20px;
}

.descuento
{
    background-color: #ffc93a;
    padding-left: 0;
    text-align: center;
    margin-top: -5px;
    color: #000000;
    font-size: 1em;
}

.header-text h3 span
{
    position: absolute;
    top: -250px;
    left: 15px;
}

.precio
{
    background-color: #0002ce;
    padding-right: inherit;
    margin-left: inherit;
    margin-top: -5px;
    color: white;
    font-size: 1em;
}

img
{
    margin: 0;
    width: inherit;
    height: 250px;
    border-radius: 4px;
    border-color: black;
}



.foot{
    color: #ffffff;
    text-align: center;
    padding-top: 2em;
}

.foot ul{
    list-style-type: none;
}

.foot a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

.foot a:visited
{
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}


.foot a:hover {
    color: #fefcff;
    background-color: transparent;
    text-decoration: underline;
}

.foot hr{
    background-color:#ffffff;
}

.map
{
    width: 450px;
    height: 400px;
    border:0;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 5px;
    position: inherit;


}

.formulario
{
    padding-top: 0px;
}

}
@media (min-width: 550px) {
    .som {
        background:none;
        background-color: gray !important;
    }
}

/*
@media (max-width: 700px){
    #navbarSupportedContent{
        position: fixed;
        background:#1a8cff;
        border: 1px solid black;
        padding: 1em;
        z-index: 1;
    }

}

