

header{
    background: url("../images/nathan-anderson-316188-unsplash.jpg") no-repeat center center;
    background-size: cover;
    height: 70vh;

}


.logoHeader{
    width: 10vw;
}

.redesSocial{
    list-style-type: none;
}

.redesSocial li{
    float: left;
    margin-right: 0.5em;
}


.slogan{
    text-align: left;
    color: white;
    font-size:3em;
}

.slogan button {
    margin-left: 3em;
}

html
{
    height: 100%;
    /*overflow: scroll;*/
}





.wrapper
{

}

.col-centered
{
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.viaje
{
   /* margin: 26px;*/
    border-radius: 4px;
    padding: 20px;
}

.descuento
{
    background-color: black;
    padding-left: 0;
    text-align: center;
    margin-top: -5px;
    color: white;
    font-size: 1em;
}

.precio
{
    background-color: #ce0400;
    padding-right: inherit;
    margin-left: inherit;
    margin-top: -5px;
    color: white;
    font-size: 1em;
}

img
{
    margin: 0;
    width: inherit;
    height: 250px;
    border-radius: 4px;
    border-color: black;
}



.foot{
    color: #ffffff;
    text-align: center;
    padding-top: 2em;
}

.foot ul{
    list-style-type: none;
}

.foot a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

.foot a:visited
{
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}


.foot a:hover {
    color: #fefcff;
    background-color: transparent;
    text-decoration: underline;
}

.foot hr{
    background-color:#ffffff;
}



