header{

#presentation
{
  font-family: 'Lobster', cursive;
  text-align: center;
  background-image: url("../images/nathan-anderson-316188-unsplash.jpg");
}

#pres1
{
  font-size: 50px;
}



#pres2
{
  margin-top: 0px;
  padding-top: 0px;
  font-size: 12px;
}


