

header{
    background: url("../images/nathan-anderson-316188-unsplash.jpg") no-repeat center center;
    background-size: cover;
    height: 70vh;
}

.logoHeader{
    width: 10vw;
}

.redesSocial{
    list-style-type: none;
}

.redesSocial li{
    float: left;
    margin-right: 0.5em;
}

.slogan{
    text-align: left;
    color: white;
    font-size:3em;
}

.slogan button {
    margin-left: 3em;
}
html
{
    height: 100%;
    //overflow: scroll;
}





#presentation
{
  font-family: 'Lobster', cursive;
  text-align: center;
  background-image: url("../images/nathan-anderson-316188-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed;*/
  height: 100%;
    width: 100%;
  -webkit-text-stroke: 1px black;
  color: aliceblue;

}

#pres1
{
  font-size: 6em;
  letter-spacing: 6.5px;
}



#pres2
{
  font-size: 2em;
  letter-spacing: 1.5px;
}

.wrapper
{

}

.viaje
{
    margin: 4px;
    padding: 2px;
    background-color: black;
    position: center

}

.precio
{
    background-color: #ff000e;
    /*margin-bottom: -6px;*/
}

.foot{
    color: #ffffff;
    text-align: center;
    padding-top: 2em;
}

.foot ul{
    list-style-type: none;
}

.foot a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}



.foot a:hover {
    color: #4682b4;
    background-color: transparent;
    text-decoration: underline;
}

.foot hr{
    background-color:#ffffff;
}



